<%= javascript_include_tag "transaction_form" %>

<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :license_plate_number %><br>
    <%= f.text_field :license_plate_number %>
  </div>
  <div class="field">
    <%= f.label :vehicle_type %><br>
    <%= f.select :vehicle_type, ["Car", "Truck", "Other"], {}, {onChange: "vehicleTypeForm()"} %>
  </div>

  <div id="onlyTrucks" class="<%= "hidden" if @transaction.vehicle_type != "Truck" %>">
    <div class="field">
      <%= f.label :truck_bed_down %><br>
      <%= f.check_box :truck_bed_down %>
    </div>
    <div class="field">
      <%= f.label :truck_bed_muddy %><br>
      <%= f.check_box :truck_bed_muddy %>
    </div>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
