<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Receipt for your Car Wash:</h1>
</div>

<p>
  <strong>Date:</strong>
  <%= @transaction.created_at.strftime("%b %e, %Y") %>
</p>

<p>
  <strong>License Plate Number:</strong>
  <%= @transaction.license_plate_number %>
</p>

<p>
  <strong>+</strong>
  $<%= if @transaction.vehicle_type == "Car" then 5 else 10 end %> base charge for <%= @transaction.vehicle_type.downcase %>s.
</p>

<% if @transaction.truck_bed_muddy %>
  <p>
    <strong>+</strong>
    <td>$2 for mud in truck bed.</td>
  </p>
<% end %>

<% if @transaction.returning_customer_discount %>
  <p>
    <strong>-</strong>
    <td>50% for returning customer discount</td>
  </p>
<% end %>

<p>
  <strong>= $<%= @transaction.price %> </strong>
</p>
