<!DOCTYPE html>
<html>
<head>
  <title>CarWash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-pills">
  <li role="presentation" class=""><%= link_to "Transaction History", transactions_path %></li>
  <li role="presentation" class=""><%= link_to "New Transaction", new_transaction_path %></li>
  <% if @transaction && @transaction.id %>
	  <li role="presentation" class=""><%= link_to "Edit", edit_transaction_path(@transaction) %></li>
	  <li role="presentation" class=""><%= link_to "Show", @transaction %></li>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
